/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');


/* Generic styles */
html {
  scroll-behavior: smooth;
  /*background-image: linear-gradient(to bottom,rgb(233, 77, 77),#000000db 100%);*/
  background-size: cover;
  background-color: 	rgb(59, 137, 119)
}


.nextTry{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;


  margin-bottom:3%;
}


button{
  border: none;
}


.w{
  color: rgb(223, 173, 114),
  rgb(27, 127, 129), 	rgb(233, 77, 77),
  rgb(27, 32, 47), rgb(255, 35, 96),
  rgb(88, 255, 212),	rgb(57, 78, 255)

}